td {
 
  border: 2px solid black;
  margin-left: auto;
  margin-right: auto;
}
.cell {
  background-color: aqua;
}
.cell-b {
  background-color: bisque;
}
.cell-entries {
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.allow-cell{
  
  animation: chess-move 2s linear infinite alternate-reverse;
}
.control-buttons{
position: fixed;
top:0;
right:0;
}



.restart-button{
  margin: 5px;
  
  background-color: red;
  width: 100px;
  height: 30px;
  transition:200ms all;
}
.give-up-button{

  background-color: white;


}
.restart-button:hover{
  font-size: large;
}



@keyframes chess-move {
  from{
    background-color: black;
  }
  to{
    background-color: white;
  }
  
}
