td {
 
  border: 2px solid black;
  margin-left: auto;
  margin-right: auto;
}
.cell {
  background-color: aqua;
}
.cell-b {
  background-color: bisque;
}
.cell-entries {
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.allow-cell{
  
  animation: chess-move 2s linear infinite alternate-reverse;
}

@keyframes chess-move {
  from{
    background-color: black;
  }
  to{
    background-color: white;
  }
  
}
